<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5Z8P25E2DF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5Z8P25E2DF');
    </script>

    <title>{{ site.name }}</title>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <meta name="author" content="{{ site.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Dharmesh Tailor
              </h1>
              <p>
                  I am a PhD student with <a href="https://enalisnick.github.io/">Eric Nalisnick</a> in the <a href="https://amlab.science.uva.nl/">Amsterdam Machine Learning Lab</a>.
                  I am interested in building interpretable and robust AI systems using Bayesian principles.
              </p>
              <p>
                  From 2019 to 2021, I was a research assistant in the <a href="https://team-approx-bayes.github.io/">Approximate Bayesian Inference Team</a> at the <a href="https://aip.riken.jp/">RIKEN Centre for Advanced Intelligence Project</a> (Tokyo, Japan).
                  From 2017 to 2018, I worked at the <a href="https://www.esa.int/">European Space Agency</a> as a <a href="https://www.esa.int/About_Us/Careers_at_ESA/Graduates_Young_Graduate_Trainees">‘Young Graduate Trainee’</a> in the <a href="https://www.esa.int/gsp/ACT/">Advanced Concepts Team</a> (Netherlands).
                  <!-- I worked with <a href="https://www.esa.int/gsp/ACT/team/dario_izzo/">Dr. Dario Izzo</a> on a policy search method combining imitation learning and trajectory optimization. -->
              </p>
              <p>
                  In 2017, I graduated with an MSc in Artificial Intelligence from the <a href="https://www.ed.ac.uk/informatics">University of Edinburgh</a> specialising in machine learning and computational neuroscience.
                  I did my thesis under <a href="https://www.nottingham.ac.uk/psychology/people/mark.vanrossum">Prof. Mark van Rossum</a> on (neuronal) population coding.
                  In 2016, I graduated with a Bachelors in Computer Science and Mathematics (joint course) from <a href="https://www.imperial.ac.uk/computing">Imperial College London</a>.              </p>
              <! TODO: add CV -->
              <p style="text-align:center">
                  Contact: d.v.tailor [ a t ] uva.nl
                  <br>
                <!-- <a target="_blank" href="https://mailhide.io/e/1gY6P"> Email</a> &nbsp;/&nbsp; -->
                <a href="https://github.com/dvtailor">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.co.uk/citations?user=boyVlJgAAAAJ">Google Scholar</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/portrait.jpg">
            </td>
          </tr>
        </table>
        
        <!-- Scrollbar code adapted from https://github.com/kkhetarpal/kkhetarpal.github.io/blob/master/index.html#L200 -->
        <!-- TODO: should be dynamically generated from markdown files -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
            <td style="padding:20px;width:100%;vertical-align:middle">
              <h2>Highlights / News</h2>
              <div class="container sidebar col-md-3">
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <!-- <h4 class="panel-title"></h4> -->
                </div>
                <div class="panel-body" id="oScroll" >
                <div id="scroll">
                <p>
                    <strong>Jan 20, 2024</strong>: Accepted paper (oral) at <a href="https://aistats.org/aistats2024/">AISTATS 2024</a> on Learning to Defer to a Population: A Meta-Learning Approach
                </p>
                <p>
                    <strong>Dec 14, 2023</strong>: Poster presentation at <a href="https://nips.cc/Conferences/2023">NeurIPS 2023</a> in New Orleans
                </p>
                <p>
                    <strong>Nov 23, 2023</strong>: Oral presentation at Dutch Society of Pattern Recognition and Image Processing <a href="https://nvphbv.nl/event/fall-meeting-2023-anomaly-detection-229/">Fall Meeting on Anomaly Detection</a>
                </p>
                <p>
                    <strong>Oct 31, 2023</strong>: Teaching assistant for <a href="https://enalisnick.github.io/human_ML.html">Human-in-the-Loop Machine Learning</a> (UvA Master AI course) taught by <a href="https://enalisnick.github.io/">Eric Nalisnick</a>
                </p>
                <p>
                    <strong>Sept 21, 2023</strong>: Accepted paper at <a href="https://nips.cc/Conferences/2023">NeurIPS 2023</a> on The Memory-Perturbation Equation
                </p>
                <p>
                    <strong>Aug 3, 2023</strong>: Poster presentation at <a href="https://www.auai.org/uai2023/">UAI 2023</a> in Pittsburgh
                </p>
                <p>
                      <strong>June 22, 2023</strong>: Two accepted papers at the <a href="https://dp4ml.github.io/">ICML 2023 Workshop on Principles of Duality for Modern Machine Learning</a>
                  </p>
                <p>
                      <strong>June 15, 2023</strong>: Participating in the <a href="https://bayesduality.github.io/workshop/">1st Bayes-Duality Workshop</a> in Japan between June 15-27
                  </p>
                <p>
                      <strong>May 24, 2023</strong>: Invited talk at the <a href="https://bayesduality.github.io/">Bayes-Duality</a> CREST-ANR collaboration seminar (virtual)
                  </p>
                <p>
                      <strong>May 8, 2023</strong>: Accepted paper at <a href="https://www.auai.org/uai2023/">UAI 2023</a> on Exploiting Inferential Structure in Neural Processes
                  </p>
                <p>
                      <strong>April 21, 2023</strong>: Invited talk at the <a href="https://www.esa.int/gsp/ACT/">Advanced Concepts Team</a> of European Space Agency (Noordwijk, Netherlands)
                  </p>
                <p>
                      <strong>March 6, 2023</strong>: Visiting <a href="https://emtiyaz.github.io/">Emtiyaz Khan</a> at <a href="https://www.riken.jp/en/research/labs/aip/generic_tech/approx_bayes_infer/">RIKEN AIP</a> in Tokyo between March 6-29
                  </p>
                <p>
                      <strong>Feb 6, 2023</strong>: Received <a href="https://aistats.org/aistats2023/reviewers.html">reviewer award</a> (top-10%) for AISTATS 2023 
                  </p>
                <p>
                      <strong>Sept 19, 2022</strong>: Attended <a href="https://ellisalicante.org/eds2022/">ELLIS Doctoral Symposium</a> in Alicante
                  </p>
                <p>
                    <strong>Sept 6, 2022</strong>: Teaching assistant for <a href="https://uvaml1.github.io/">Machine Learning 1</a> (UvA Master AI course) taught by <a href="https://ebekkers.github.io/">Erik Bekkers</a>
                </p>
                <p>
                      <strong>Aug 5, 2022</strong>: Poster presentation at the <a href="https://tractable-probabilistic-modeling.github.io/tpm2022/index.html">5th Workshop on Tractable Probabilistic Modeling</a> at UAI 2022
                  </p>
                  <p>
                      <strong>Aug 1, 2022</strong>: Attended <a href="https://www.auai.org/uai2022/">UAI 2022</a> in Eindhoven
                  </p>
                  <p>
                      <strong>July 5, 2022</strong>: Accepted workshop paper on <a href="https://openreview.net/forum?id=LTo3tkIPvSh">Exploiting Inferential Structure in Neural Processes</a>
                  </p>
                  <p>
                      <strong>June 13, 2022</strong>: Participated in the <a href="https://probabilistic.ai/">Nordic Probabilistic AI School</a> in Helsinki
                  </p>
                  <p>
                      <strong>Dec 14, 2021</strong>: Invited talk on <a href="https://emtiyaz.github.io/papers/Dec14_2021_NeurIPS_BDL.pdf">Adaptive and Robust Learning with Bayes</a> at the <a href="http://bayesiandeeplearning.org/">NeurIPS Bayesian Deep Learning workshop</a> (virtual) jointly with Emtiyaz Khan and Siddharth Swaroop
                  </p>
                  <p>
                      <strong>Sept 20, 2021</strong>: Joined the <a href="https://amlab.science.uva.nl/">Amsterdam Machine Learning Lab</a> as a PhD candidate supervised by <a href="https://enalisnick.github.io/">Eric Nalisnick</a>
                  </p>
                  <p>
                    <strong>March 10, 2021</strong>: Talk on <a href="/docs/riken_seminar_march2021.pdf">Identifying Memorable Experiences of Learning Machines</a> at the <a href="https://aip.riken.jp/video/aip-open-seminar-16/">RIKEN AIP Open Seminar</a> (virtual)
                  </p>
                  <p>
                    <strong>Sept 9, 2019</strong>: Participated in the <a href="https://aip.riken.jp/news/berlin190910/">Joint Workshop of the Berlin Big Data Center, Berlin Center of Machine Learning and RIKEN AIP</a> in Berlin
                  </p>
                  <p>
                    <strong>May 7, 2019</strong>: Joined the <a href="https://team-approx-bayes.github.io/">Approximate Bayesian Inference Team</a> at <a href="https://www.riken.jp/en/research/labs/aip/">RIKEN AIP</a> as a research assistant
                  </p>
                  <p>
                      <strong>Sept 1, 2017</strong>: Joined the <a href="https://www.esa.int/">European Space Agency</a> as a <a href="https://www.esa.int/About_Us/Careers_at_ESA/Graduates_Young_Graduate_Trainees">Young Graduate Trainee</a> in the <a href="https://www.esa.int/gsp/ACT/">Advanced Concepts Team</a>
                  </p>
              </div>
            </div>
          </div>

            </td>
          </tr>
        </tbody></table>
        
        <!-- Research papers -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h1>Papers</h1>
              <!-- <p>
                Fill current research interest.
              </p> -->
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h2>{{post.title}}</h2>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.venue2 %}<em>{{post.venue2}}</em><br>{% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              <!-- {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %} -->
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        
        <!-- Talks -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h1>Talks</h1>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'talk' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h2>{{post.title}}</h2>
              <br>
              {% if post.venue_link %}
              <h3><a href={{post.venue_link}}>{{post.venue}}</a></h3>
              {% else %}
              <h3>{{post.venue}}</h3>
              {% endif %}
              , {{ post.date | date: "%Y" }} <!-- TODO: more detailed date -->
              <br>
              {% if post.info %}
              <em>{{post.info}}</em>
              <br>
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <!-- <h3>Research (pre-doctoral)</h3> -->
              <p>
                Below are papers I published whilst at the European Space Agency (2017-2018) and University of Edinburgh (2016-2017), focusing on optimal control/trajectory optimization and computational neuroscience respectively.
              </p>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research_predoc' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              <!-- {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %} -->
              <p></p>
              <!-- {{ post.excerpt }} -->
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Adapted from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's fork</a> of <a style="font-size:small;" href="https://jonbarron.info">John Barron's website</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

